/*=======================================
=======| G L O B A L |===================
=======================================*/

:root {
  --blackTES    : #212529;
  --whiteTES    : #f3f3f3;
  --pinkTES     : #ff00cc;
  --shadowTES   : -1px 8px 22px -7px #313131;
  --gradientTES : linear-gradient(133deg, rgba(254,143,239,1) 0%,
                  rgba(255,0,204,1) 44%, rgba(175,1,105,1) 100%);
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'arcan';
  src: url(../fonts/Arcane-Nine.ttf);
}

body {
  background: var(--blackTES);
  color: var(--whiteTES);
  margin: 0;
  min-width: 300px;
  font-size: 16px;
  font-family: Andale Mono, monospace;
}

img {
  width: 100%;
}

h1 {
  font-family: "arcan";
  color: var(--pinkTES);;
  text-align: left;
  padding: 20px;
  padding-bottom: 0px;
  padding-top: 10px;
}

h2 {
  font-family: "arcan";
  color: var(--pinkTES);;
  text-align: left;
  padding-left: 30px;
  font-size: 0.8rem;
}

p {
  padding: 20px;
  text-align: justify;
  margin-bottom: 0;
}

.overline  {
  color: var(--pinkTES);
  font-weight: bolder;
}

.little_line {
  font-size: 0.5em;
}

a {
  text-decoration: none;
  color: var(--whiteTES);
}



/*=======================================
=======| N A V B A R |===================
=======================================*/
nav {
  -webkit-box-shadow: var(--shadowTES);
  box-shadow: var(--shadowTES);
}
nav .navbar-brand {
  width: 65%;
}

nav .navbar-collapse .navbar-nav .nav-item .nav-link{
  text-align: right;
  padding-right: 20px;
}

    /*===|| M E D I A S ||===*/

@media screen and (min-width: 768px){
  nav .navbar-brand {
    width: 20%;
  }
}

/*=======================================
=======| H E A D E R |===================
=======================================*/

header  {
  position: relative;
}

header h1 {
  color: var(--whiteTES);
  text-align: right;
  font-size: 2em;
  position: absolute;
  right:20px;
  top: 10px;
}

header .button_head {
  background: none;
  color: var(--whiteTES);
  font-family: "arcan";
  font-size: 1em;
  letter-spacing: 2px;
  border: 3px var(--whiteTES); solid;
  border-radius: 2px;
  padding: 5px;
  padding-left: 30px;
  padding-right: 30px;
  position: absolute;
  right:20px;
  bottom: 20px;
}

    /*===|| M E D I A S ||===*/

@media screen and (min-width: 400px) and (max-width: 649px){
  header h1 {
    font-size: 3em;
  }
  header .button_head {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 650px) and (max-width: 1023px){
  header h1 {
    font-size: 5em;
  }
  header .button_head {
    font-size: 2.5em;
    bottom: 30px;
  }
}

@media screen and (min-width: 1024px){
  header h1 {
    font-size: 8em;
  }
  header .button_head {
    font-size: 4em;
    bottom: 60px;
  }
}

/*=======================================
=======| O L D  S E C T I O N |==========
======================= home ==========*/

main .old {
  text-align: justify;
}

main .old h1 {
  margin-top: 40px;
}

/*=======================================
=======| C H O O S E  S E C T I O N  |===
======================= home ==========*/

main .choose .choose_text {
  background: var(--whiteTES);;
  color: #131313;
  text-align: justify;
}

/*=======================================
====| H I S T O R Y  S E C T I O N  |====
=========================== we_are ====*/

.we_are .history .img_2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

/*margin au text*/

/*=======================================
====| P R I C E  S E C T I O N  |========
======================= conditions ====*/

.conditions .price .age {
  text-align: center;
  padding-top: 0;
  margin-bottom: 30px;
}

.conditions .price .price_tab {
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 5px;
}

/*=======================================
===| E X E C U T I O N  S E C T I O N  |=
======================= states =========*/

.states .execut .carousel .carousel-inner
.carousel_explic_div {
  background: var(--whiteTES);;
  color: var(--blackTES);;
  -webkit-box-shadow: var(--shadowTES);
  box-shadow: var(--shadowTES);
}

.states .execut .carousel .carousel-inner
.carousel_explic_div .title_explic_div {
  padding-top: 10px;
  padding-left: 10px;
  color: var(--pinkTES);;
  font-family: "arcan";
  letter-spacing: 2px;
}

.states .execut .carousel .carousel-inner
.carousel_explic_div .text_explic_div {
  padding-top: 0px;
  padding-bottom: 30px;
}

.states .execut .text_party_2 {
  padding-top: 35px;
}

/*=======================================
===| E N D I N G  S E C T I O N  |=======
======================= states =========*/

.states .ending .ending_img {
  margin-bottom: 50px;
}

/*=======================================
=======| P A R T  S E C T I O N |========
======================= home ==========*/

main .part_section{
  margin-top: 30px;
}
main .part_section .part_contain .part_row {
  margin-top: 40px;
  text-align: center;
}

main .part_section .part_contain .part_row img {
  height: 80px;
  width:auto;
  padding: 15px;
}

    /*===|| M E D I A S ||===*/

@media screen and (min-width: 768px){
  main .part_section .part_contain .part_row img{
    height: 100px;
    padding: 25px;
  }
}

/*=======================================
=======| C A L L  S E C T I O N |========
=======================================*/

main .call_section {
  text-align: center;
}

main .call_section .call_div {
  width: 50%;
  background: var(--pinkTES);
  background: var(--gradientTES);
  border-radius: 60px 0px 20px 60px;
  margin-top: 50px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}

main .call_section .call_div .call_img {
  height: auto;
  padding: 10px;
}

main .call_section .button_call {
  background: none;
  color: var(--whiteTES);;
  font-family: "arcan";
  font-size: 1em;
  letter-spacing: 2px;
  border: 3px var(--whiteTES); solid;
  border-radius: 2px;
  width: 50%;
  margin: auto;
  padding: 5px;
  padding-left: 30px;
  padding-right: 30px;
  text-decoration: none;
}

main .call_section a {
  text-decoration: none;
}

    /*===|| M E D I A S ||===*/

@media screen and (min-width: 768px) and (max-width: 1023px){
  main .call_section .call_div {
    width: 35%;
  }

  main .call_section .button_call{
    width: 38%;
    font-size: 2em;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (min-width: 1024px){
  main .call_section .call_div {
    width: 20%;
  }

  main .call_section .button_call{
    width: 20%;
    font-size: 1em;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

/*=======================================
=======| F O O T E R |===================
=======================================*/

footer {
  padding: 20px;
  background: var(--pinkTES);
  background: var(--gradientTES);
  text-align: center;
  font-family: 'arcan';
}

/*=======================================
=========================================
=======================================*/
